/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
i.fa-chevron-right{
  color: #E8E8E8;
}

.container{
  width: 32rem;
  height: 100vh; 
}
.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
  padding-block-start: 0;
}
section.category{
  background-color: #03525F;
  padding-block: 2.5rem;
  padding-block-end: 1rem;
  border-radius: 1rem;
  > div{
    display: flex;
    justify-content: space-around;
    background-color: #23636D;
    margin-inline: 2rem;
    border-radius: 0.5rem;
    padding-block: 1rem;
    color: #9FBBBB;
  }
} 
main{
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 1rem;
  overflow-y: auto;
  height: 550px;
}
div.profile{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 4px 4px 4px gray; 
  padding-block: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  > img{
    width:2.8rem;
    height:2.8rem;
    border-radius: 50%;
    margin-inline-start: -3rem;
    + div{
      margin-inline-start: -3.5rem;
    }
  }
}
footer{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-inline: 1rem;
  margin-block-start: 10px;
  padding-block: 20px;
  border-radius: 6px;
  color: white;
  background-color: #114a53;
  box-shadow: 0 4px 4px grey;
}
footer > div:not(:nth-child(3)){
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 73%;
  border: 2.5px solid white;
  background-color: #D3FA03;
  > i{
    color: #2E6C36;
  }
}